@model IEnumerable<SkyStockPortfolio.Models.Price>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.stock_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stock_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stock_value)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.stock_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stock_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stock_value)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.price_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.price_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.price_id })
        </td>
    </tr>
}

</table>
