@model SkyStockPortfolio.Models.Analyst

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Analyst</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.stock_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.stock_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.analyst_datetime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.analyst_datetime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.analyst_5)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.analyst_5)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.analyst_4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.analyst_4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.analyst_3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.analyst_3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.analyst_2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.analyst_2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.analyst_1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.analyst_1)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
